<launch>
	<node pkg="dji_sdk_demo" type="dji_sdk_client" name="dji_sdk_client" output="screen">
        <param name="mission" value="1"/>
        <param name="ifTld" value="false"/>
	<param name="ifKcf" value="false"/>
        <param name="imgWidth" value="640"/>
        <param name="imgHeight" value="480"/>	
	</node>

</launch>
